body{
    background-color: rgb(190, 189, 189);
    height: 100vh;
}
#regisform{
    height: 65%;
    width: 23%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
}
h4{
    text-align: center;
}
@media screen and (max-width: 1048px){
    #regisform{
        width: 30%;
    }
}
@media screen and (max-width: 600px){
    #regisform{
        width: 100%;
    }
}
@media screen and (max-width: 375px){
    #regisform{
        width: 100%;
    }
}
@media screen and (max-width: 393px){
    #regisform{
        width: 100%;
    }
}
